<div id="folder_dialog_messages">
  <% if @folder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@folder.errors.count, "error") %> prohibited this Folder from being saved:</h2>
      <ul>
      <% @folder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% else %>
    <div class="alert alert-success">
      <a class="close" data-dismiss="alert">&times;</a>
      <p>Folder <%= @folder.physical_number %> Created Successfully. Add another below.</p>
      <%= link_to "Edit Folder #{@folder.physical_number}", edit_lae_folder_path(@folder), class: "btn btn-success" %>
    </div>
  <% end %>
</div>
