<h2>Images</h2>
<% if !@pages_list.blank? %>
  <%= openseadragon_picture_tag pul_store_iif_path(@pages_list[0]['id']) %>
  <img href="<%= pul_store_iif_path(@pages_list[0]['id']) %>" class="thumbnail"
  alt="<%= @pages_list[0]['title'] %>" >
<% else %>
  <div>No Images Assigned Yet</div>
<% end %>