<% 

  osd_config = {
    crossOriginPolicy: true,
    preserveViewport: true, 
    visibilityRatio: 1
  }
%>

<% unless @pages_list.blank? %>
  <h2><%= pluralize(@pages_list.size, 'Images') %></h2>
  <div class="pul-store-controls">
    <%= link_to(lae_folder_image_list_path(@folder.id), class: "btn btn-primary", target: "_blank") do %>
      <span>View Full Image</span>
      <%= fa_icon 'external-link' %>
    <% end %>
  </div>
  <div>
    <% images = pul_store_iiif_ids_label_list(@pages_list) %>
    <div class="viewer">
  <script>
        var osdviewer = $('.viewer');
       
        if ($('div.iov').length == 0) {
          // var viewer = modal.find('.viewer');
          osdviewer.iiifOsdViewer({
            data: [{
              iiifServer: 'http://libimages.princeton.edu/loris2',
              images: <%= raw images.to_json %> }
            ]
          });
        }
    </script>
</div>
  </div>
<% else %>
  <div>No Images Assigned Yet</div>
<% end %>