<% 

  osd_config = {
    crossOriginPolicy: false,
    preserveViewport: true, 
    visibilityRatio: 1
  }
%>

<h2><%= @pages_list.size %> Images</h2>
<% if !@pages_list.blank? %>
  <div>
    <% images = pul_store_iiif_page_info_list(@pages_list) %>
    <%= openseadragon_picture_tag images, class: 'osd-image row', data: { openseadragon: osd_config } %>
  </div>
<% else %>
  <div>No Images Assigned Yet</div>
<% end %>