<h1>Update Folder</h1>

<%= render 'form' %>

<%= link_to 'Show', @folder %> |
<% if(!@folder.box_id.blank?) %>
  <%= link_to 'Return to Box', edit_lae_box_path(@folder.box_id) %> |
<% end %>
<%= link_to 'Back to Folders', lae_folders_path %>
