<p id="notice"><%= notice %></p>

<p>
  <strong>Barcode:</strong>
  <%= @folder.barcode %>
</p>

<%= link_to 'Edit Folder', edit_lae_folder_path(@folder) %> |
<%= link_to 'Return to Box', edit_lae_box_path(@folder.box_id) %>
