
<div class="span9" id="lae-head">
  <div class="row">
    <div class="span6">
      <h1 class="lae-head"><%= @page_title%></h1>
    </div>
  </div>
</div>

<div id="content" class="span9 show-document">
  <%= render 'form' %>
  <%= link_to 'Show Box', @box %> |
  <%= link_to 'Back to Box List', lae_boxes_path %>
</div>




