<h1>Add a New Box</h1>

<div class="container" id="main-container">

  <div class="row">
    <%= render :partial => 'breadcrumb' %>
  </div>
  <div class="row">
    <%= render 'brief_form' %>
  </div>
  <div class="row">
    <ul class="nav nav-pills">
      <li>
        <%= link_to 'Back to Lae Home', lae_boxes_path %>
      </li>
    </ul>
  </div>
</div>