<footer>
  <div class="container">
    <div class="row">
    	<div class="col-md-3 col-md-offset-9">
    		<p>&copy; <%= Date.today.year %> Trustees of Princeton University</p>
        <p>Princeton University Library</p>
    	</div>
    </div>
  </div>
</footer>