<footer>
  <div class="container">
    <div class="row">
    	<div class="col-md-3 col-md-offset-9">
        <%= image_tag("logos/pu_logo_trans.png") %>
    		<p>&copy; <%= Date.today.year %> Trustees of Princeton University. All rights reserved.</p>
    	</div>
    </div>
  </div>
</footer>