defaults: &defaults
  stage_root: /tmp/pulstore-staging
  fits_download: https://fits.googlecode.com/files/fits-0.6.2.zip
  fits_dir: fits
  voyager_datasource: http://diglib.princeton.edu/tools/v2m/
  pulfa_datasource: http://findingaids.princeton.edu/collections/
  id_namespace: puls
  lae_sort_title_filters:
    - lang: English
      articles: 
        - the
        - a
        - and
    - lang: Spanish
      articles:
        - el
        - la
        - los
        - las
        - o
        - os
    - lang: Portuguese
      articles:  
        - as
        - um
        - uns
        - uma
        - umas
  lae_recap_code: rcpxr
  lae_rights_boilerplate: "This digital reproduction is intended to support research, teaching, and private study. Users are responsible for determining any copyright questions."
  lae_export_exclude:
    folder:
      - discover_access_group_ssim
      - read_access_group_ssim
      - edit_access_group_ssim
      - desc_metadata__category_sim
      - desc_metadata__genre_sim
      - desc_metadata__geographic_origin_sim
      - desc_metadata__geographic_subject_sim
      - desc_metadata__language_sim
      - desc_metadata__subject_sim
      - has_model_ssim
      - in_box_ssim
      - is_part_of_project_ssim
      - object_profile_ssm
      - object_state_ssi
      - prov_metadata__project_label_sim
      - prov_metadata__workflow_state_sim
      - prov_metadata__workflow_state_tesim
      - system_create_dtsi
      - system_modified_dtsi
      - timestamp
    page:
      - active_fedora_model_ssi
      - discover_access_group_ssim
      - edit_access_group_ssim
      - has_model_ssim
      - is_part_of_project_ssim
      - is_part_of_ssim
      - object_profile_ssm
      - object_state_ssi
      - prov_metadata__date_modified_dtsi
      - prov_metadata__date_uploaded_dtsi
      - prov_metadata__project_label_tesi
      - read_access_group_ssim
      - system_create_dtsi
      - system_modified_dtsi
      - timestamp
    box:
      - active_fedora_model_ssi
      - discover_access_group_ssim
      - edit_access_group_ssim
      - has_model_ssim
      - is_part_of_project_ssim
      - object_profile_ssm
      - object_state_ssi
      - prov_metadata__date_modified_dtsi
      - prov_metadata__date_uploaded_dtsi
      - prov_metadata__project_label_sim
      - prov_metadata__project_label_tesi
      - prov_metadata__workflow_state_sim
      - prov_metadata__workflow_state_tesim
      - read_access_group_ssim
      - system_create_dtsi
      - system_modified_dtsi
      - visibility_during_embargo_ssim
      - visibility_after_embargo_ssim
      - visibility_during_lease_ssim
      - visibility_after_lease_ssim
      - embargo_history_ssim
      - lease_history_ssim
    project:
      - active_fedora_model_ssi
      - desc_metadata__description_ssm
      - desc_metadata__identifier_tesim
      - desc_metadata__label_sim
      - has_model_ssim
      - object_profile_ssm
      - object_state_ssi
      - prov_metadata__date_modified_dtsi
      - prov_metadata__date_uploaded_dtsi
      - system_create_dtsi
      - system_modified_dtsi
      - visibility_during_embargo_ssim
      - visibility_after_embargo_ssim
      - visibility_during_lease_ssim
      - visibility_after_lease_ssim
      - embargo_history_ssim
      - lease_history_ssim
  image_server_store: /tmp/fake_image_store
  image_server_base: http://libimages.princeton.edu/loris
  jp2_recipes:
    default_color: >
      -rate 2.4,1.48331273,.91673033,.56657224,.35016049,.21641118,.13374944,.08266171 
      -jp2_space sRGB 
      -double_buffering 10 
      -num_threads 1 
      -no_weights 
      Clevels=6 
      Clayers=8 
      Cblk=\{64,64\} 
      Cuse_sop=yes 
      Cuse_eph=yes  
      Corder=RPCL 
      ORGgen_plt=yes 
      ORGtparts=R 
      Stiles=\{1024,1024\}
    default_gray: >
      -rate 2.4,1.48331273,.91673033,.56657224,.35016049,.21641118,.13374944,.08266171 
      -jp2_space sLUM 
      -double_buffering 10 
      -num_threads 1
      -no_weights 
      Clevels=6 
      Clayers=8 
      Cblk=\{64,64\} 
      Cuse_sop=yes 
      Cuse_eph=yes  
      Corder=RPCL 
      ORGgen_plt=yes 
      ORGtparts=R 
      Stiles=\{1024,1024\}

development:
  <<: *defaults
  noid_template: d.zdeeek
  minter_statefile: noid-minter-state # will be in app root
  lae_box_counter_statefile: lae-box-counter-state # will be in app root
  image_server_store: /tmp/fake_image_store/dev
  secret_key_base: '6a7ab6cf91c0c548541631ef377ba9b8f8a2a601888530e9212ddb6fae13fd0ad18b1193bf2e9473afb15c4d8702058ad40472aaf6ab7d83c3e4c6b02748d206'
  devise_secret_key: '0ce74604635f09c97da09e26fac75daac403beb1aa0663f1f9bb4eaa6d1dc1cd838b1e0488086b1983bafa5e8956d2a734df5107b63108cf451577efb78ea451'


test:
  <<: *defaults
  noid_template: t.zdeeek
  minter_statefile: noid-minter-state
  image_server_store: /tmp/fake_image_store/test
  lae_box_counter_statefile: lae-box-counter-state # will be in app root
  secret_key_base: 'cbec12a5b027bdb2b2e1c98648e759c95421bb92734bf2fbffd650a7c48b591417bd4b2dcb358e6d0e9cbcd9bf856b9a5a24e0248fbbdf3522629dd730fdeb06'
  devise_secret_key: '2d827d419fe8f4ae1756641069ddf382d1078adff0789a78abdc3be66400830786e31606128aa245f3ab50f2c55d8b3c08836b630313b870165071c8fd1d9dd5'

production:
  <<: *defaults
  noid_template: .zdeeek
  minter_statefile: /opt/pul-store/shared/noid-minter-state
  lae_box_counter_statefile: /opt/pul-store/shared/lae-box-counter-state
  image_server_store: /mnt/libimages/jp2s
  secret_key_base: 
  devise_secret_key: 
