//@import "../variables/**/*";

.lae-project .navbar-branding {
  border-top: 5px solid $orange;
  background-color: $cream;
  margin-bottom: 0;
}


.lae-brand {
    background-image: image-url("lae/lae-logo-final.png");
    background-size: 338px 42px;
    width: 338px ;
    height: 42px;
    display: inline-block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    padding-right:0;
    padding-left: 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .lae-brand {
        background-image: image-url("lae/lae-logo-final@2x.png");
        background-size: 338px 42px;
        width: 338px !important;
    }
}


.left-pad-btn {
  margin-left: 1em;
}

.util-links-login {
  margin-top: 10px;
}

a:visited.btn {
  color: white;
}

.lae-new {
  margin-top: 20px;
}


#desc-metadata  {
  .form-control {
    width: 85%;
    display: inline;
  }

  .field-controls {
    width: 15%;
    display: inline;
  }
}

.navbar + .navbar {
  margin-top: 0px;
}


.no-active-date-range, .no-active-date-created {
  display: none;
}

.active-date-range, .active-date-created {
  display: block;
}

#lae-box-folder-options {
  margin-bottom: 1em;
}

.lae-folder-state {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 180%;
}

/** LAE Folder Edit Tab-Controls */
.tab-pane {
  display: none;
}

.active.tab-pane {
  display: block;
  background-color: $white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 25px;
}

.vertical-tab-controls {
  padding-right: 0;
  margin-right: 0;
  margin-left: 0;
  border-right: 0;
}

.active.tab-pane.vertical-tab-content {
  padding-left: 0;
  margin-left: 0;
  border-left: 0;
}

.nav-tabs li a {
  margin-right: 0;
}

.tablist.lae-edit {
  margin: 0;
  padding: 0;
  border: 0;
}


.tablist.lae-edit h2 {
  text-align: left;
  margin-left: 10px;
  padding-left: 10px;
}

.lae-folder-edit-options {
  //margin: 0;
  padding-right: 0;
  border: 0;
}

#desc-metadata, #admin-metadata, #image-preview  {
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

