@import 'compass';
@import 'bootstrap-sprockets';
@import 'bootstrap';

/* local bootstrap overrides */
@import "variables/**/*";
@import 'bootstrap-overrides';
@import 'blacklight/facets';

.modal-backdrop.in {
  z-index: 100;
}

.navbar-branding {
  border-top: 5px solid $orange;
  background-color: $dark-gray;
  margin-bottom: 0;
}

.appliedFilter a.btn:visited {
  color: black;
}

footer {
  background-color: $light-gray;
  margin-top: 20px;
  bottom: 0;
}