.lae-brand {
    background-image: image-url("lae/lae-logo-final.png");
    background-size: 338px 42px;
    width: 338px ;
    height: 42px;
    display: inline-block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    padding-right:0;
    padding-left: 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .lae-brand {
        background-image: image-url("lae/lae-logo-final@2x.png");
        background-size: 338px 42px;
        width: 338px !important;
    }
}


.left-pad-btn {
  margin-left: 1em;
}

.util-links-login {
  margin-top: 10px;
}

a:visited.btn {
  color: white;
}

.lae-new {
  margin-top: 20px;
}


#desc-metadata  {
  .form-control {
    width: 85%;
    display: inline;
  }

  .field-controls {
    width: 15%;
    display: inline;
  }
}

.navbar + .navbar {
  margin-top: 0px;
}


.no-active-date-range, .no-active-date-created {
  display: none;
}

.active-date-range, .active-date-created {
  display: block;
}

#lae-box-folder-options {
  margin-bottom: 1em;
}
