<div class="navbar-right">
  <ul class="nav navbar-nav">
    

 <% if has_user_authentication_provider? %>
      <% if current_user %>
          
          <%= button_to "#{t('blacklight.header_links.logout')} #{current_user.to_s}", destroy_user_session_path,  { :type => 'submit', :class => 'btn btn-default form-control',  form_class: "form-inline" } %>
         
        
        <% else %>

          <%= button_to t('blacklight.header_links.login'), new_user_session_path, { :type => 'submit', :class => 'btn btn-default form-control', form_class: "form-inline" } %>

        
      <% end %>
  <% end %>
</div>
